.conteiner-usuarios{
    width: 80%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.conteiner-users{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: .5rem 1rem;
}

.title-users{
    color: #0f406c;
    letter-spacing: 1px;
    text-align: center;
}

table {
    border: 1px solid #0f406c;
    border-collapse: collapse;
}

table thead  tr th{
    color: #0f406c;
    font-weight: 700;
    font-size: 1rem;
    padding: .3rem;
    letter-spacing: 1.2px;
    border: 2px solid blue;
}

table tbody tr td{
    text-align: center;
    color: #0f406c;
    font-size: 1rem;
    padding: .3rem;
    letter-spacing: 1px;
    border: 2px solid #0f406c;
}

